---
---

@charset "utf-8";

$summer-bloom: #fbe495;
$orange: #fcab2c;
$grey: #323232;

$grey-dark: $grey;
$link: $orange;

@import '../node_modules/bulma/bulma.sass';

.hero-header {
  background-attachment: scroll, fixed;
  background-clip: border-box, border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box, padding-box;
  background-position: 0% 0%, center center;
  background-repeat: repeat, no-repeat;
  background-size: cover;
  min-height: 80vh;
  min-width: 100%;

  &.no-image {
    min-height: 40vh;
  }
}

.hero-header-title {
  padding-top: 20vh;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(46, 53, 79, 0.9);

  h1,
  p {
    color: $white;
  }

  .no-image & {
    text-shadow: none;

    h1,
    p {
      color: $grey-dark;
    }
  }
}

.home {
  .column {
    text-align: center;

    .icon svg {
      height: 4em;
      width: 4em;
    }
  }

  @include mobile() {
    display: none;
  }
}
