# exclude everything by default
*.*
# exclude these files
Dockerfile
Gemfile
LICENSE
# exclude these directories
/_includes/
/_layout/
/_site/
/assets/
/node_modules/
# white-list files we want to process
!*.md
!*.scss
