---
layout: base
---

<h1>{{ site.title }}</h1>

<p class="index-p">Bring science to the "street"</p>

<div class="row index-icons">
    <div class="col-sm-4">
        <i class="fas fa-graduation-cap"></i>
        <p>Educate</p>
    </div>

    <div class="col-sm-4">
        <i class="fas fa-users"></i>
        <p>Share</p>
    </div>

    <div class="col-sm-4">
        <i class="fas fa-lightbulb"></i>
        <p>Inspire</p>
    </div>
</div>

<p>In the Street Science community, we want to make science tangible & accessible 
by bringing it to the "street" via open science workshops. 
These workshops are an excuse to meet, discuss, educate and develop ideas in a neutral, 
open, noncompetitive and not-for-profit environment.</p>